.app-wrapper {
  box-sizing: border-box;
  display: grid;
  width: 1000px;
  margin: 0 auto;
  grid-template-areas:
    "head head "
    "navig content";

  grid-template-rows: 60px 2fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: cadetblue;
}